{% extends "base.html" %}
{% block navbar %}
<!-- <nav class="navbar navbar-light justify-content-between" style="background-color: #006ebd;">
 <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>

    </div>
   
    <ul class="nav navbar-nav navbar-left">
      {% url 'customers' as main %}
      <li {% if request.get_full_path == main %} class="nav navbar-nav navbar-left active"{% endif %}>
          <a href="{% url 'customers:index' %}">Social media </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <img style="width: 25px;" src="{{ user.profile.profile_pic.url }}"/><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="notification">
                    <span>Inbox</span>
                    <span class="badge">3</span>
                  </a></li>
                <li><a href="{% url 'members:users-profile' user.profile.slug %}">Profile</a></li>
                <li><a href="{% url 'members:logout' %}?next={% url 'customers:index' %}">Logout</a></li>
            </ul>
        </li>
        {% else %}
        <li>
        <a href="{% url 'members:login' %}?next={% url 'customers:index' %}">Login</a>
        </li>
        {% endif %}
    </ul>

  </div>
</nav>
 -->

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
 <nav class="navbar navbar-icon-top navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="sidebar">
            <div class="d-flex justify-content-center">
              <img style="width: 50px;" src="{{ user.profile.profile_pic.url }}"/>
            </br></div>
            <div class="profile d-flex justify-content-center" >
            </br><b>Welcome {{ user.username }}</b></br> </div>
            <hr>
            <a href="{% url 'members:users-profile' user.profile.slug %}"><i class="fa fa-fw fa-user"></i> Profile</a>
            <a href="#contact"><i class="fa fa-fw fa-envelope">
              <span class="badge badge-warning">11</span>
            </i> Messeges</a>
            <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="{% url 'members:logout' %}?next={% url 'customers:index' %}">
              <i class="fa fas fa-sign-out-alt">
              </i>
              Logout
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'customers:index' %}">
          <i class="fa fa-home"></i>
          Social media
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">11</span>
          </i>
          Link
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-warning">11</span>
          </i>
          Disabled
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o">
            <span class="badge badge-primary">11</span>
          </i>
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    
    <ul class="navbar-nav ">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'members:logout' %}?next={% url 'customers:index' %}">
          <i class="fa fas fa-sign-out-alt">
          </i>
          Logout
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'members:login' %}?next={% url 'customers:index' %}">
          <i class="fa fas fa-sign-in-alt">
          </i>
          Login
        </a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</header>


{% endblock %}