{% extends "base.html" %}
{% block navbar %}
<nav class="navbar navbar-light justify-content-between" style="background-color: #006ebd;">
 <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>

    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      {% url 'customers' as main %}
      <li {% if request.get_full_path == main %} class="active"{% endif %}>
          <a href="{% url 'customers:index' %}">Social media </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

        {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <img style="width: 25px;" src="{{ user.profile.profile_pic.url }}"/><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="notification">
                    <span>Inbox</span>
                    <span class="badge">3</span>
                  </a></li>
                <li><a href="{% url 'members:users-profile' user.profile.slug %}">Profile</a></li>
                <li><a href="{% url 'members:logout' %}?next={% url 'customers:index' %}">Logout</a></li>
            </ul>
        </li>
        {% else %}
        <li>
        <a href="{% url 'members:login' %}?next={% url 'customers:index' %}">Login</a>
        </li>
        {% endif %}
    </ul>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>
</nav>
{% endblock %}